name: Build & Deploy SQL Project  DWH_Staging

on:
  push:
    branches:
      - 'main'

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Locate SQL Projects (debug)
        shell: pwsh
        run: |
          Write-Host "Searching for .sqlproj..."
          Get-ChildItem -Recurse -Filter *.sqlproj

      - name: Build SQL Server project
        shell: pwsh
        run: |
          & "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\MSBuild.exe" `
          ".\GithubAction\DWH_Staging\DWH_Staging.sqlproj" `
          /t:Build /p:Configuration=Release `
          /p:VSINSTALLDIR="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\" `
          /p:SQLDBExtensionsRefPath="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB" `
          /p:DacPacRootPath="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC"
          
          & "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\MSBuild.exe" `
          ".\GithubAction\DWH_ETL\DWH_ETL.sqlproj" `
          /t:Build /p:Configuration=Release `
          /p:VSINSTALLDIR="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\" `
          /p:SQLDBExtensionsRefPath="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB" `
          /p:DacPacRootPath="C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\SQLDB\DAC"


      - name: Find generated DACPAC (debug)
        shell: pwsh
        run: Get-ChildItem -Recurse -Filter *.dacpac

      - name: Publish DACPAC to SQL Server
        shell: pwsh
        run: |
          $dacpac = Get-ChildItem -Recurse -Filter DWH_Staging.dacpac | Select-Object -First 1
          Write-Host "Publishing DACPAC: $($dacpac.FullName)"

          & "C:\Program Files\Microsoft SQL Server\160\DAC\bin\SqlPackage.exe" `
            /Action:Publish `
            /SourceFile:$dacpac.FullName `
            /TargetConnectionString:"${{ secrets.SQL_CONNECTION_STRING }}" `
            /OverwriteFiles:True `
            /p:BlockOnPossibleDataLoss=False